.transfer-contanier .inner {
  height: 384px;
  border: 1px solid #ccc;
  display: flex;
}

.transfer-contanier .inner .tree-left {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 8px;
  border-right: 1px solid #ccc;
  width: 290px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
}

.transfer-contanier .inner .tree-left .tree-box {
  height: 342px;
  overflow-y: auto;
}

.transfer-contanier .inner .tree-left .list-member {
  padding: 5px 0 5px 0;
}

.edit-box .setting {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.transfer-contanier .inner .tree-left .list-member ul {
  display: flex;
  flex-wrap: wrap;
}

.transfer-contanier .inner .tree-left .list-member ul li {
  margin-top: 4px;
  width: 78px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid #ccc;
  margin-right: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.transfer-contanier .inner .tree-left .list-member ul li:nth-child(4n) {
  margin-right: 0;
}

.transfer-contanier .inner .tree-left .button-box {
  display: flex;
}

.transfer-contanier .inner .tree-left .button-box {
  display: flex;
}

/*list-right start*/
.transfer-contanier {
  width: 940px;
  margin: 0 auto;
}

/*center*/
.transfer-contanier .inner .box-center {
  border-right: 1px solid #ccc;
}

.transfer-contanier .inner .box-center .list-member {
  width: 124px
}

.list-member h2 {
  line-height: 29px;
  padding-left: 4px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.transfer-contanier .inner .box-center .list-member ul {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.transfer-contanier .inner .box-center .list-member ul li {
  margin-top: 4px;
  width: 96px;
  line-height: 24px;
  height: 24px;
  border: 1px solid #ccc;
  margin-right: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.box-center .list-member ul li {
  position: relative;
}

.box-center .list-member ul .delete {
  display: none;
  position: absolute;
  top: -3px;
  right: -7px;
}

.transfer-contanier .inner .box-center .list-member ul .li-focus {
  color: #b50005;
}

.box-center .list-member ul .li-focus:hover .delete {
  display: block;
}

.transfer-contanier .inner .box-center .list-member ul li .select {
  display: none;
}

.transfer-contanier .inner .box-center .list-member ul .li-focus .select {
  display: inline-block;
  padding-top: 5px;
  padding-left: 7px;
}

/*right*/
.transfer-contanier .inner .list-right {
  box-sizing: border-box;
  padding: 10px 10px;
  height: 100%;
  width: 58%;
  position: relative;
}

.transfer-contanier .inner .list-right .tag-box {
  display: flex;
  flex-wrap: wrap;
}

.transfer-contanier .inner .list-right .tag-box span {
  margin-top: 10px;
}

.transfer-contanier .inner .list-right .button-nav {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.transfer-contanier .inner .list-right .el-select-dropdown__item.hover,
.el-select-dropdown__item:hover .icon-nav {
  display: block !important;
}

.transfer-contanier .inner .list-right .choose-member-content {
  border: 1px solid #ccc;
  height: 242px;
  border-radius: 9px;
  padding: 0px 6px 4px;
  box-sizing: border-box;
  margin-top: 10px;
  background: rgba(204, 204, 204, 0.2);
  position: relative;
  overflow-y: auto;
}

.tag-box .el-tag--success {
  background-color: rgba(103, 194, 58, .1);
  border-color: rgba(103, 194, 58, .2);
  color: #333;
}

/*list-right end*/
.transfer-contanier .button-bottom {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.transfer-contanier .button-bottom .button {
  height: 34px;
  width: 78px;
  background-color: #b50005;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transfer-contanier .button-bottom .button img {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

/*清除float  */
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
